body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  padding: 92px 50px;
  box-sizing: border-box;
  min-height: 110px;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__links-list-item {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_no-bullit a {
  text-decoration: none;
}

.header__address {
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  text-align: right;
}

.header__address a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.cover {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aligned-text_left {
  align-self: flex-start;
  line-height: 1.15;
}

.aligned-text_center {
  align-self: center;
  line-height: 1;
}

.aligned-text_right {
  align-self: flex-end;
  line-height: 1;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
  color: white;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
  margin: 0;
}

.bet-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.lots {
  width: 1100px;
  margin: 180px auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  flex: 1;
  min-height: 450px;
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: white;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  color: black;
}

.about {
  display: flex;
  gap: 25px;
  width: 1100px;
  margin: 180px auto;
  padding: 0 50px;
  box-sizing: border-box;
}

.about__column-logo {
  flex: 0 0 240px;
  display: flex;
  justify-content: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-text {
  flex: 1;
  padding-top: 100px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text-paragraph {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: start;
  width: 1100px;
  margin: 180px auto 90px;
  padding: 0 50px;
  box-sizing: border-box;
}

.footer address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
  justify-self: start;
}

.footer address a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.footer nav {
  justify-self: center;
}

.footer nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer nav a {
  font-size: 18px;
  color: black;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.footer nav .footer__link_no-underline {
  text-decoration: none;
}

.footer .cocial {
  justify-self: end;
}

.footer .cocial ul {
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cocial__item {
  display: block;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
}

.cocial__item_yt {
  background-image: url(../images/yt.svg);
}

.cocial__item_vk {
  background-image: url(../images/vk.svg);
}

.cocial__item_pinterest {
  background-image: url(../images/pinterest.svg);
}

/* Исправления для соответствия макету */
.header__links-list-item a {
  color: black;
  text-decoration: none;
}

.header__links-list-item a:hover {
  text-decoration: underline;
}

.header__address a {
  color: black;
}

.cover__description-text {
  font-weight: 400;
}

.lots__look-more-link {
  font-weight: 400;
}

.footer address a,
.footer nav a {
  color: black;
  font-weight: 400;
}