.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  background-color: white;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__menu {

}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 28px;
  list-style-type: circle;
  font-size: 18px;
}

.header__links-list-item {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;

}

.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
}

.header__address {
  display: grid;
  line-height: 0.7;
  font-size: 18px;
  justify-self: end;
  padding-right: 85px;
  font-style: normal;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;

}
.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 0 50px;
}

.aligned-text {
  font-size: 100px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* расстояние между строками */
}

.aligned-text_left {
  align-self: flex-start;
  margin-top: auto; /* прижимает к низу своего пространства */
}

.aligned-text_center {
  align-self: center;
  margin: auto 0; /* центрирует по вертикали */
}

.aligned-text_right {
  align-self: flex-end;
  margin-bottom: auto; /* прижимает к верху своего пространства */
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__description {
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cover__description-text {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  word-spacing: 18px;
  font-weight: 100;
}

.bet-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
}

.lots {
  padding: 180px 50px 0 50px; /* Отступ сверху как в макете */
  width: 1100px; /* По ширине контейнера */
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 40px; /* Чтобы заголовок был под карточками */
  font-weight: 700;
}

.lots__card-list {
  list-style: none; /* Убираем маркеры */
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px; /* Расстояние между карточками */
  margin-bottom: 30px; /* Отступ до ссылки "посмотреть больше" */
}


.lots__card-list-item {
  flex: 1;
  min-width: 0;
  width: 430px;
  min-height: 450px;
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  color: white;
}

.card .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный черный */
  z-index: 1;
}

.card__content {
  position: relative; /* Чтобы был поверх .overlay */
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Заголовок сверху, текст снизу */
}

.card__title {
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  margin-bottom: 30px;
  font-weight: 700;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #000;
  display: inline-block;

}

.footer {

}