body {
  font-family: 'Raleway', sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 28px;
  list-style-type: circle;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.header__links-list-item {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
}

.header__address {
  display: grid;
  line-height: 0.7;
  font-size: 18px;
  justify-self: end;
  padding-right: 85px;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 0 50px;
}

.aligned-text {
  font-size: 100px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Raleway', sans-serif;
}

.aligned-text_left {
  align-self: flex-start;
  margin-top: auto;
}

.aligned-text_center {
  align-self: center;
  margin: auto 0;
}

.aligned-text_right {
  align-self: flex-end;
  margin-bottom: auto;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__description {
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  word-spacing: 18px;
  font-family: 'Raleway', sans-serif;
}

.bet-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.lots {
  padding: 180px 0 0 0;
  width: 1052px;
  margin: 0 auto;
  box-sizing: border-box;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.lots__card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  width: 100%;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
  flex-shrink: 0;
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  color: white;
  box-sizing: border-box;
}

.card .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card__content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  font-weight: 700;
  margin: 0;
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  margin: 0;
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  color: #000;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
}

.about {
  display: flex;
  width: 1052px;
  margin: 180px auto 0;
  padding: 0 40px;
  gap: 50px;
  box-sizing: border-box;
  align-items: flex-start;
}

.about__column-logo {
  flex: 0 0 260px;
  display: flex;
  justify-content: center;
  padding-top: 0;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-text {
  flex: 1;
  padding-left: 10px;
  min-width: 0;
  margin-top: 100px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 100px;
  margin-top: 0;
  padding-top: 0;
  line-height: 1;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about__text-paragraph {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  width: 1100px;
  margin: 180px auto 90px;
  padding: 0 50px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.footer address {
  font-style: normal;
  line-height: 1.35;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-self: start;
  font-family: 'Raleway', sans-serif;
}

.footer address a {
  text-decoration: none;
  color: #000;
  display: block;
  line-height: 1.35;
}

.footer address a.footer__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.footer nav {
  justify-self: center;
}

.footer nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 5px;
  list-style-type: none;
  text-align: center;
}

.footer nav ul li {
  font-size: 18px;
  width: auto;
}

.footer nav ul li a {
  color: #000;
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  font-family: 'Raleway', sans-serif;
}

.footer nav ul li a.footer__link_no-underline {
  text-decoration: none;
}

.footer .cocial {
  justify-self: end;
}

.footer .cocial ul {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cocial__item {
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.cocial__item_yt {
  background-image: url(../images/yt.svg);
}

.cocial__item_vk {
  background-image: url(../images/vk.svg);
}

.cocial__item_pinterest {
  background-image: url(../images/pinterest.svg);
}