/* Общие стили */
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 1100px;
  font-weight: 400;
  color: #000;
}

/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__links-list {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_no-bullit .header__link {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  display: block;
}

.header__address {
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  text-align: right;
}

.address {
  font-style: normal;
}

/* Cover - УМЕНЬШЕННЫЙ ШРИФТ И ВЫСОТА */
.cover {
  position: relative;
  width: 1100px;
  height: 757px; /* Можно уменьшить до 650px если всё ещё большой */
  margin: 0 auto;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 70px; /* УМЕНЬШИЛИ с 100px до 70px */
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 15px; /* УМЕНЬШИЛИ с 30px до 15px */
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  display: block;
  line-height: 1.15;
  margin-bottom: 10px; /* уменьшили */
}

.aligned-text_center {
  display: block;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px; /* уменьшили */
}

.aligned-text_right {
  display: block;
  line-height: 1;
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px; /* уменьшили с 135px */
}

.cover__description-text {
  font-size: 18px; /* уменьшили с 22px */
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 12px; /* уменьшили с 18px */
  color: #fff;
  margin: 0;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px; /* уменьшили с 22px */
  text-transform: uppercase;
  padding: 10px 28px; /* уменьшили */
  cursor: pointer;
  font-family: Raleway, sans-serif;
  font-weight: normal;
}

/* Lots */
.lots {
  width: 1100px;
  margin: 100px auto; /* уменьшили с 180px */
  padding: 0 50px;
  box-sizing: border-box;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.lots__card-list-item {
  flex: 1;
  min-height: 450px;
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.lots__look-more-link {
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  color: #000;
  margin-left: 40px;
}

/* About */
.about {
  width: 1100px;
  margin: 100px auto; /* уменьшили с 180px */
  padding: 0 50px;
  display: flex;
  gap: 25px;
  box-sizing: border-box;
}

.about__column {
  flex: 1;
}

.about__column:first-child {
  flex: 0 0 240px;
  display: flex;
  justify-content: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 50px 0 50px; /* уменьшили с 100px */
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text-paragraph {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

/* Footer */
.footer {
  width: 1100px;
  margin: 100px auto 90px; /* уменьшили с 180px */
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: start;
  box-sizing: border-box;
}

.footer .address {
  font-size: 18px;
  line-height: 1.35;
  justify-self: start;
}

.footer__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.footer__link_active {
  text-decoration: none;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu-list-item {
  font-size: 18px;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}